body {
    background-image: url("www.freepik.esvector-gratisvector-fondo-geometrico-abstracto-moderno_18057947.jpg");
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.barra {
    display: inline-block;
    background-color:#1d5786; 
    color: #fff;
    padding: 10px 30px; text-decoration: none;
}
.barra:hover { 
    background-color:#8fc5f1; 
} 
nav {
    background-color: orange;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-weight:bolder;
}

.item {
    display: none;
    padding: 40px;
    padding-block-end: 10px;
    font-size: 24px;
}
.boton {
    display: none;
    background-color: cadetblue;
    padding: 5px;
}
  
@media (max-width: 700px) {
    nav { 
    background-color: crimson;
    flex-direction:column };
    .barra {
        margin: 10px 0;}
}